@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #040d21;
    font-family: 'Montserrat',sans-serif;
}

center{
    padding: 20px;
}

center h2{
    font-size: 32px;
}

center p{
    font-size: 25px;
}